
  
  /***read more button style***/
  
  .read-more-state {
    display: none;
  }
  
  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }
  
  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height:999em;
  }
  
  .read-more-state ~ .read-more-trigger:before {
    content: 'Read More';
  }
  
  .read-more-state:checked ~ .read-more-trigger:before {
    content: 'Read Less';
  }
  
  .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #ffffff;
    background-color: #3FA5F9;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
    margin-left: 10px;
      margin-bottom: 10px;
  }
  p.read-more-wrap{
      text-align: justify;
  }
  
  
  
  