.login-parent {
    margin-top: 20vh;
    height: 70vh;
    width: 50%;
    margin-left: auto;
    margin-right: 10%;
    display: flex;
}

.login-name {
    background-color: #45a29e;
    height: 70vh;
    width: 40%;
    display: flex;
    text-align: center;
}

.title-login{
    margin: auto;
    color: #1F2833;
}

.login-form {
    width: 60%;
    height: 70vh;
    border: 3px solid #45a29e;
    padding: 5%;
}

.submit-button{
    color: #1F2833;
    background-color: #45a29e;
    width: 100%;
    margin-top: 5vh;
}