.productArea{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #61dafb;
    /*width: 300px;*/
    /*margin: 10px 10px;*/
}
.product{
    width: 280px;
    border: 1px solid #61dafb;
    border-radius: 2px;
    text-align: center;
    margin: 5px;
    background-color: blanchedalmond;
}
.product > .productImage{
    width: 80%;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}
.product > .productImage > img{
    max-width: 100%;
    height: 300px;
}
.productDetails{
    margin: 20px 0;
}
.gotoAddBtn {
    background-color: #8E44AD;
    color: white;
    height: 40px;
    width: 155px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}